/**********************************
GENERAL
***********************************/

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-image: url('../images/stardust.png');

}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}


a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}

/**********************************
HEADING
***********************************/

header {
  float: left;
  margin: 0 0 100px 0;
  padding: 75px 0 100px 0;
  width: 100%;
  background-image: url('../images/cubes.png');
  font-family: 'Roboto Condensed', sans-serif;
}

.container {
  display: inline-block;
  width: 45%;
  margin-left: 5%;
}

#logo {
  color: #2E2E2E;
  text-align: left;
  display: block;
  margin-top: 45px;
}

h1 {
  margin: 15px 0;
  font-size: 3em;
  font-weight: normal;
  line-height: 0.8em;
}

h2 {
  font-size: 2.5em;
  margin: -5px 0 0;
  font-weight: normal;
}

#social {
  margin-left: -2%;
  padding-top: 5px;
}

/**********************************
for future image in header
.image {
  float: right;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5%;
}

 ***********************************/


#projects {
   margin-bottom: 450px;
}

h3 {
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.25em;
}

#gallery {
  margin: 0;
  padding: 0;
  list-style: none;

}

#gallery li {
  float: left;
  width: 45%;
  margin: 2.5%;
  background-color: rgba(255,255,255, 0.5);
  
}


#gallery li p {
  margin: 0;
  padding: 5%;
  font-size: 0.85em;
  color: white;
  letter-spacing: 0.04em;
}




/**********************************
About
***********************************/

#about {
  color: white;
}

#about p {
  width: 60%;
  font-size: 1.15em;
}

h4 {
  font-size: 1.65em;
  margin-bottom: -5px;
  font-family: 'Roboto Condensed', sans-serif;
}

.about {
  font-size: 1.15em;
  letter-spacing: 0.02em;

}

#list1 {
  display: inline-block;
}


#list2 {
  display: inline-block;
  float: right;
  width: 45%;
}

#list2 ul li a {
  color: white;
  opacity: 0.6;
}


#list2 ul li a:hover {
  letter-spacing: 0.1em;
  opacity: 0.4;
}

/**********************************
PORTFOLIO
***********************************/

/**********************************
CONTACT


#contact {
  margin-top: 500px;
}


.form {
    width: 500px;
    padding: 30px;
    margin: 50px auto;
}

.form input[type="text"],
.form input[type="date"],
.form input[type="datetime"],
.form input[type="email"],
.form input[type="number"],
.form input[type="search"],
.form input[type="time"],
.form input[type="url"],
.form input[type="password"],
.form textarea,
.form select 

{
    outline: none;
    display: block;
    width: 100%;
    padding: 7px;
    border: none;
    border-bottom: 1px solid #ddd;
    background: transparent;
    margin-bottom: 10px;
    font: 20px;
    height: 45px;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 0.04em;
}
.form textarea {
    resize:none;
    overflow: hidden;
}

.form input[type="button"], 
.form input[type="submit"]{
    background-color: rgba(255,255,255, 0.5);
    border: white;
    display: inline-block;
    cursor: pointer;
    color: white;
    font-size: 18px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 8px 18px;
    text-decoration: none;
    letter-spacing: 0.04em;
}

.form input[type="button"]:hover, 
.form input[type="submit"]:hover {
    background-color: rgba(255,255,255, 0.3);
}

***********************************/
/**********************************
FOOTER
***********************************/

footer {
  font-size: 0.875em;
  text-align: center;
  clear: both;
  padding-top: 70px;
  color: #ccc;
  letter-spacing: 0.04em;
}

.social-icon {
  margin: 0 10px;
}

.twitter {
  width: 23px;
  height: 17px;
}

.linkedin {
  width: 23px;
  height: 22px;
}

.github {
  width: 22px;
  height: 17px;
}

.email {
  width: 32px;
  height: 18px;
}
