* {
  box-sizing: border-box;
}

html {
  height: 100%;
}


body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #bcdcd3;
  font-family: 'Poiret One', cursive;
  box-shadow: inset 0 3px 5px #8eafae;

}


header {
  text-align: center;
  padding-top: 3%;
}


nav img {
  height: 300px;
  margin-bottom: 2%;
}

nav {
  display: inline-block;
}

nav ul {
  margin: 0;
  padding: 0;
  color: #b17559;
  font-size: 20px;
  letter-spacing: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 3;
  -webkit-animation: focus 4s ease-in-out;
          animation: focus 4s ease-in-out;
}



li.name {
  font-size: 35px;
  letter-spacing: 30px;
  line-height: 2;
}

.social svg {
  margin: 2%;
}

svg {
  height: 30px;
   width: auto; /* required to center */
}



section {
  width: 100%;
  margin: auto;
  padding: 1%;
  margin-top: 1%;
}


section#work {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 5% 5% 7% 5%;

}



section#work a {
  height: 330px;
  width: 330px;

}

.work-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  padding: 3%;
  margin: 1%;
  height: 330px;
  width: 330px;
  font-size: 27px;
  background-color: #f7f9f9;
  box-shadow: 10px 10px  #d99e8e;
  /*box-shadow: inset 5px 5px 5px #8eafae; */
}

.work-item img {
  width: auto;
  height: 190px;
  margin: auto;
}

img#fan {
  height: 90px;
}

section#work div:hover {
  box-shadow:  0 0 0 10px #d99e8e;

}


.xwing {
  width: 80%;
  margin: auto;
}

section#info {
  width: 80%;
  margin: auto;
  margin-top: 3%;
  font-size: 20px;
  color: #b17559;
  line-height: 1.5;
  letter-spacing: 4px;
  border-bottom: 30px solid #d99e8e;
}



h4 {
  font-weight: normal;
  font-size: 25px;
  letter-spacing: 10px;
}

section#info li {
  list-style: none;
}



#info-intro {
  font-size: 35px;
}

#skills p {
  padding-left: 40px;

}

a {
  text-decoration: none;
  color: #b17559;
}

a:hover {
  font-weight: bolder;
  text-shadow: 2px 2px rgba(197, 187, 160, 06)

}

#contact a {
  padding-left: 40px;

}




@-webkit-keyframes focus {

  0% { text-shadow: 5px 5px rgba(197, 187, 160, 06)
  }
  50% { text-shadow: -4px -4px rgba(197, 187, 160, 06)
  }
  100% {
    text-shadow: none;
  }
}




@keyframes focus {

  0% { text-shadow: 5px 5px rgba(197, 187, 160, 06)
  }
  50% { text-shadow: -4px -4px rgba(197, 187, 160, 06)
  }
  100% {
    text-shadow: none;
  }
}



@media (max-width: 1170px) {

  section#work a {
    margin-right: 2%;
    margin-bottom: 7%;

  }



}


@media (max-width: 875px) {

  header {
    padding: 3%;
  }

  nav ul {
  font-size: 15px;
  letter-spacing: 10px;
}

  li.name {
  font-size: 15px;
  letter-spacing: 10px;
  line-height: 3;
}

  section#work a {
  height: 230px;
  width: 230px;


}


  .work-item {
    height: 230px;
    width: 230px;
  }


  .work-item img {
  width: auto;
  height: 140px;
  margin: auto;
}

img#fan {
  height: 60px;
}




  h4 {
    font-size: 20px;
  }


  section#info {
    font-size: 17px;
  }
}


@media (max-width: 770px)  {


.xwing {
  width: 100%;
}


}



@media (max-width: 1170px) and (min-width: 871px) {

  section#work {
    height: 800px;
  }
}


@media (max-width: 815px) and (min-width: 530px) {

  section#work {
    height: 600px;
  }
}


@media (max-width: 529px) {

  section#work {
    height: 900px;
  }
}
