body {
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #e3e2e0d9;
  background-position: bottom left;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/108463/butterballs.jpg);
  background-blend-mode: screen;
  background-repeat: no-repeat;
  color: #352a00;
  font-family: "Reenie Beanie", sans-serif;
  font-size: 21px;
}

@supports not (background-blend-mode: screen) {
  body {
    background-image: none;
  }
}

a {
  text-decoration: none;
  color: #352a00;
}

li {
  color: #352a00;
  list-style: none;
}

li:before {
  content: "-";
  margin-right: 10px;
  font-weight: bold;
}

li:hover,
a:hover {
  color: #c29500;
}

ul {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  margin: 0;
  letter-spacing: 5px;
  font-family: "Reenie Beanie", sans-serif;
}

ul {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: lighter;
  margin: 0;
  letter-spacing: 5px;
  font-family: "Reenie Beanie", sans-serif;
}

h1 {
  margin-bottom: 2%;
}

footer {
  display: none;
}

/* Template */

.template li:hover {
  color: #352a00;
}

/* About & Contact  */

.social {
  border: 2px dashed #ced8d7cc;
  padding: 0.5% 1%;
  margin-right: 1%;
  margin-bottom: 5%;
  display: inline-block;
}

.social:hover {
  background-color: #ced8d7cc;
  border-color: transparent;
}

#things li:hover,
#things a:hover {
  color: #c29500;
}

/* Case Studies  */

#study img {
  max-height: 500px;
  max-width: 45%;
  border: 5px solid #ced8d7cc;
  vertical-align: top;
  margin: 5% 1%;
}

#study h3 {
  text-decoration: underline;
  text-decoration-color: #ced8d7cc;
}




@supports ((display: -ms-grid) or (display: grid)) {
  h1 {
    margin: 0;
  }

  .container,
  .case-studies,
  .template {
    height: 200vh;
    max-height: 1700px;
    width: 75vw;
    border: 1px solid #252828;
    margin: 15vh auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    text-align: center;
  }

  header {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  main {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      "animations posts clients"
      "animations random clients"
      "grids grids clients"
      "grids grids about-contact";
  }

  main div {
    display: -ms-grid;
    display: grid;
    justify-items: center;
    border: 1px solid #252828;
    padding: 0 5%;
  }

  main div h2 {
    -ms-flex-item-align: end;
    -ms-grid-row-align: end;
    align-self: end;
  }
  main div ul {
    -ms-flex-item-align: start;
    -ms-grid-row-align: start;
    align-self: start;
  }
  main div:hover {
    background-color: #ced8d7cc;
  }

  #clients {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 3;
    grid-area: clients;
    border-right: none;
  }

  #clients span {
    font-size: 21px;
    color: #25282882;
  }

  #grids {
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: grids;
    border-left: none;
    border-right: none;
    border-top: none;
  }

  #posts {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: posts;
    border-left: none;
    border-right: none;
  }

  #animations {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: animations;
    border-left: none;
  }

  #random {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: random;
    border-right: none;
    border-left: none;
    border-top: none;
  }

  #about-contact {
    -ms-grid-row: 4;
    -ms-grid-column: 3;
    grid-area: about-contact;
    border-right: none;
    border-top: none;
  }

  #about-contact a {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
  }

  footer {
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }

  /* Template  */

  .template header {
    -ms-grid-columns: 3fr 1fr;
    grid-template-columns: 3fr 1fr;
    border-bottom: 1px solid #252828;
    height: 100%;
  }

  .template header div {
    width: 100%;
    height: 100%;
    display: -ms-grid;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }
  .template header #back {
    border-left: 1px solid #252828;
    -ms-grid-column-align: start;
    justify-self: start;
  }

  .template footer {
    border-top: 1px solid #252828;
  }

  /* About & Contact  */

  #about {
    text-align: left;
    padding: 5% 10%;
  }

  #about p,
  #about ul {
    margin-bottom: 5%;
  }

  #about p.list {
    margin-bottom: 0;
  }

  .ptporigin {
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-color: #ced8d7cc
  }

#about .skills li:before  {
  content:" ";
}

  /* Case Studies */

  .case-studies {
    height: 100%;
    text-align: left;
    -ms-grid-rows: 0.35fr 5fr 0.35fr;
    grid-template-rows: 1fr 5fr 1fr;

  }

  #study {
    text-align: left;
    padding: 5% 10%;
  }

  @media (min-width: 1500px) {
    body {
      background-position: top center;
    }

    .container {
      height: 150vh;
      width: 55vw;
    }
  }

  @media (min-width: 701px) and (max-width: 900px) {
    body {
      background-position: center center;
    }

    main {
      grid-template-areas:
        "clients posts"
        "clients animations"
        "grids grids"
        "grids grids"
        "random about-contact";
    }

    #clients {
      border-left: none;
      border-right: 1px solid #252828;
    }

    #animations {
      border-top: none;
      border-right: none;
    }
  }

  @media (max-width: 700px) {
    body {
      background-position: center center;
    }

    .container {
      height: 100%;
      max-height: 100%;
    }

    main {
      grid-template-areas:
        "animations"
        "grids"
        "clients"
        "random"
        "posts"
        "about-contact";
    }

    main div {
      padding: 10% 5%;
    }

    #clients,
    #posts,
    #animations,
    #grids,
    #random,
    #about-contact {
      border-right: none;
      border-left: none;
    }

    #posts {
      border: none;
    }
  }
}
